<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./lib/vue.js"></script>

</head>
<body>
    <div id="app" v-on:click="onShow"><template v-for="item in list"><li :key="item"></li></template><span>haha</span><template v-for="item in table"><div :key="item"></div></template></div>

    <script>
        const curVue = new Vue({
            data: {
                list: [],
                isShow: true,
                table: [1]
            },
            methods: {
                del (index) {
                    this.isShow = false
                    // console.log(this.list)
                    // this.list.splice(index, 1)
                },
                onShow () {
                    this.list.push(1)
                    this.table.pop()
                    // this.isShow = false
                }
            },
        }).$mount('#app')

        // console.log(curVue)
        // console.log(curVue.$options.render.toString())

        
    </script>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
</body>
</html>